.card3-fontweight {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardTwarp {
	display: flex;
	align-items: flex-end;
	grid-gap: 10px;
}

.textgroupleft,
.textgroupright {
	display: grid;
	grid-gap: 10px;
}

.textgroupleft {
	text-align: right;
}

.textgroupright {
	text-align: left;
}

.fontweightbold,
.fontweight9,
.fontweight8,
.fontweight7,
.fontweight6,
.fontweight5,
.fontweight3,
.fontweight2,
.fontweight1 {
	color: var(--card2a3textcolor);
}

.fontweightbold,
.fontweight9,
.fontweight8,
.fontweight7,
.fontweight6,
.fontweight5,
.fontweight4,
.fontweight3,
.fontweight2,
.fontweight1 {
	transition: all 300ms;
	line-height: initial;
	font-size: 12px;
}

.fontweightbold {
	font-weight: bold;
}

.fontweight9 {
	font-weight: 900;
}

.fontweight8 {
	font-weight: 800;
}

.fontweight7 {
	font-weight: 700;
}

.fontweight6 {
	font-weight: 600;
}

.fontweight5 {
	font-weight: 500;
}

.fontweight4 {
	color: #00A7FF;
	color: color(display-p3 0 0.394 1);
	font-weight: 400;
}

.fontweight3 {
	font-weight: 300;
}

.fontweight2 {
	font-weight: 200;
}

.fontweight1 {
	font-weight: 100;
}

.fontweightbold:hover,
.fontweight9:hover,
.fontweight8:hover,
.fontweight7:hover,
.fontweight6:hover,
.fontweight5:hover,
.fontweight4:hover,
.fontweight3:hover,
.fontweight2:hover,
.fontweight1:hover {
	font-size: 20px;
}

.fontweightbold:hover:after,
.fontweight9:hover:after,
.fontweight8:hover:after,
.fontweight7:hover:after,
.fontweight6:hover:after,
.fontweight5:hover:after,
.fontweight4:hover:after,
.fontweight3:hover:after,
.fontweight2:hover:after,
.fontweight1:hover:after {
	width: 100%;
	bottom: 20px;
	left: 0;
	position: absolute;
	color: var(--hintextcolor);
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	font-family: var(--codefont);
}

.fontweightbold:hover:after {
	content: "font-weight: Bold;";
}

.fontweight9:hover:after {
	content: "font-weight: 900;";
}

.fontweight8:hover:after {
	content: "font-weight: 800;";
}

.fontweight7:hover:after {
	content: "font-weight: 700;";
}

.fontweight6:hover:after {
	content: "font-weight: 600;";
}

.fontweight5:hover:after {
	content: "font-weight: 500;";
}

.fontweight4:hover:after {
	content: "font-weight: 400;";
}

.fontweight3:hover:after {
	content: "font-weight: 300;";
}

.fontweight2:hover:after {
	content: "font-weight: 200;";
}

.fontweight1:hover:after {
	content: "font-weight: 100;";
}