:root{
	--hovershadow: 0 2px 10px 0 rgba(0,0,0,0.08);
	--cardR: 20px;
	--cardborder: 1px solid rgba(188,196,223,0.50);
	--cardboxshadow:inset 0 0 20px 0 #E2EAFA;
	--cardborder-Dark:1px solid rgba(103,109,128,0.50) ;
	--cardboxshadow-Dark: inset 0 0 20px 0 #61656E;
	--textlinkhover: #464C59;

}

body{
	box-sizing: border-box;
	background: #DFE3EB;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
.cards{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px,auto));
	grid-auto-rows: minmax(360px,auto);
	grid-gap: 0.625em;
}


.cardlogo3{
	position: relative;
}
	.csseffects2{
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.cover{
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: var(--cardR);
		backdrop-filter: saturate(100%) blur(60px);
	 	-webkit-backdrop-filter: saturate(100%) blur(60px);
	}
	.pt1{
		position: absolute;
		background: #007AFF;
		border-radius: var(--cardR);
		width: 50%;
		height: 50%;
	}
	.pt2{
		position: absolute;
		background: #5856D6;
		border-radius: var(--cardR);
		width: 50%;
		height: 50%;
		right: 0;
	}
	.pt3{
		position: absolute;
		background: #34C759;
		border-radius: var(--cardR);
		width: 50%;
		height: 50%;
		left: 0;
		bottom: 0;
	}
	.pt4{
		position: absolute;
		background: #63E6E2;
		border-radius: var(--cardR);
		width: 50%;
		height: 50%;
		right: 0;
		bottom: 0;
	}

	p{
		
		font-size: 12px;
		color: rgba(255,255,255,0.67);
		position: absolute;
		bottom: 20px;
		width: 100%;
		text-align: center;
	}

.card2{
	display: grid;
	justify-items: center;
	align-content: center;
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
}
.card2:hover{
	box-shadow:var(--hovershadow);
}

.card3{
	display: grid;
	justify-items: center;
	align-content: center;
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
}
	.card3:hover{
	box-shadow:var(--hovershadow);
	}

.card4{
	display: grid;
	justify-items: center;
	align-content: center;
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
}
	.card4:hover{
		box-shadow:var(--hovershadow);
	}

.card5{
	display: grid;
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
}
	.card5:hover{
		box-shadow:var(--hovershadow);
	}


.card6{
	display: grid;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
}
	.card6:hover{
		box-shadow:var(--hovershadow);
	}

.card7{
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
	display:flex ;
	justify-content: center;
	align-items: center;
}

	.card7text{
		background: linear-gradient(90deg, #3023AE 0%, #53A0FD 48%, #B4EC51 100%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		font-size: 14px;
		text-shadow: 0 2px 6px rgba(0,198,255,0.55);
	}

	.card7:hover{
	box-shadow:var(--hovershadow);
	}


.cardnone{
	background: none;
	border-radius: var(--cardR);
	border: 1px solid #878E9A;
	border-style:dashed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
	.cardlink{
		text-decoration: none;
		padding: 5px;
		font-size: 12px;
		color: #878E9A;
	}
	.cardlink:hover{
		color: var(--textlinkhover);
	}

.p3{
	width: 100px;
}

.logoarea{
	position: relative;
	display: contents;
}

.svgbg{
	z-index: 0;
	width: 100%;

}
.svgtextlogo{
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 1;
}


.toolscount{
	font-size: 14px;
	color: #FFFFFF;
	bottom: 20px;
	left: 20px;
	position: absolute;
}
.card4box{
	position: relative;
	transform: translate(-25%,-25%);
}
	.back{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100px;
		height: 100px;
		background-image: linear-gradient(270deg, #D1D5DF 0%, #A5AABB 100%);
		border-radius: 50px;
	}
	.glass{
		width: 100px;
		height: 100px;
		border-radius: 2px;
		background: rgba(63,104,195,0.04);
		border: 1px solid rgba(216,219,229,0.19);
		backdrop-filter: saturate(180%) blur(20px);
	  	-webkit-backdrop-filter: saturate(180%) blur(20px);
	}

.fontweight9{
	font-size: 16px;
	color: #1B1D1F;
	font-weight: 900;
}
.fontweight8{
	font-size: 16px;
	color: #1B1D1F;
	font-weight: 800;
}
.fontweight7{
	font-size: 16px;
	color: #1B1D1F;
	font-weight: 700;
}
.fontweight6{
	font-size: 16px;
	color: #1B1D1F;
	font-weight: 600;
}
.fontweight5{
	font-size: 16px;
	color: #1B1D1F;
	font-weight: 500;
}
.fontweight4{
	font-size: 16px;
	color: #1B1D1F;
	font-weight: 400;
}
.fontweight3{
	font-size: 16px;
	color: #1B1D1F;
	font-weight: 300;
}
.fontweight2{
	font-size: 16px;
	color: #1B1D1F;
	font-weight: 200;
}
.fontweight1{
	font-size: 16px;
	color: #1B1D1F;
	font-weight: 100;
}
.lorem14{
	font-size: 14px;
	color: #1B1D1F;
}
.lorem12{
	font-size: 12px;
	color: #1B1D1F;
}
.lorem10{
	font-size: 10px;
	color: #1B1D1F;
}
.lorem8{
	font-size: 8px;
	color: #1B1D1F;
}
.card5img{
	width: 100%;
	background-image: url(R/light.svg);
  	background-repeat: no-repeat;
  	background-position: center;
}


@media (prefers-color-scheme: dark) {
	.card5{
		background: #22252B;
		border: var(--cardborder-Dark);
		box-shadow: var(--cardboxshadow-Dark);
	}
	.card5img{
		background-image: url(R/dark.svg);
	}
}