:root{
	--hovershadow: 0 2px 10px 0 rgba(0,0,0,0.08);
	--cardR: 20px;
	--cardborder: 1px solid rgba(188,196,223,0.50);
	--cardboxshadow:inset 0 0 20px 0 #E2EAFA;
	--cardborder-Dark:1px solid rgba(103,109,128,0.50) ;
	--cardboxshadow-Dark: inset 0 0 20px 0 #61656E;
	--textlinkhover: #464C59;
	--card2textcolor: #1B1D1F;
	--card2textbg: linear-gradient(270deg, #00FFC8 0%, #0015FF 100%);

}

body{
	box-sizing: border-box;
	background: #DFE3EB;
	font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
.cards{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px,auto));
	grid-auto-rows: minmax(360px,auto);
	grid-gap: 0.625em;
}


.cardlogo3{
	position: relative;
}
	.csseffects2{
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.cover{
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: var(--cardR);
		backdrop-filter: saturate(100%) blur(60px);
	 	-webkit-backdrop-filter: saturate(100%) blur(60px);
	}
	.pt1{
		position: absolute;
		background: #007AFF;
		background: color(display-p3 0 0.394 1);
		border-radius: var(--cardR);
		width: 50%;
		height: 50%;
	}
	.pt2{
		position: absolute;
		background: #5856D6;
		background: color(display-p3 0.383 0 1);
		border-radius: var(--cardR);
		width: 50%;
		height: 50%;
		right: 0;
	}
	.pt3{
		position: absolute;
		background: #34C759;
		background: color(display-p3 0.074 0.92 0.223);
		border-radius: var(--cardR);
		width: 50%;
		height: 50%;
		left: 0;
		bottom: 0;
	}
	.pt4{
		position: absolute;
		background: #63E6E2;
		background: color(display-p3 0.053 0.955 0.829);
		border-radius: var(--cardR);
		width: 50%;
		height: 50%;
		right: 0;
		bottom: 0;
	}

	p{
		
		font-size: 12px;
		color: rgba(255,255,255,0.67);
		position: absolute;
		bottom: 20px;
		width: 100%;
		text-align: center;
	}

.card2{
	display: grid;
	grid-gap: 0px;
	justify-content: center;
	align-content: center;
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
}
	.card2:hover{
		box-shadow:var(--hovershadow);
	}

	.lorem13{
		font-size: 13px;
		color: var(--card2textcolor);
		background: var(--card2textbg);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}
	.lorem12{
		font-size: 12px;
		/*color: var(--card2textcolor);*/
		background: var(--card2textbg);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}
	.lorem10{
		font-size: 10px;
		/*color: var(--card2textcolor);*/
		background: var(--card2textbg);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}
	.lorem8{
		font-size: 8px;
		/*color: var(--card2textcolor);*/
		background: var(--card2textbg);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

.card3{
	display: grid;
	justify-items: center;
	align-content: center;
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
}
	.card3:hover{
	box-shadow:var(--hovershadow);
	}
	.fontweight9{
		font-size: 16px;
		color: #1B1D1F;
		font-weight: 900;
	}
	.fontweight8{
		font-size: 16px;
		color: #1B1D1F;
		font-weight: 800;
	}
	.fontweight7{
		font-size: 16px;
		color: #1B1D1F;
		font-weight: 700;
	}
	.fontweight6{
		font-size: 16px;
		color: #1B1D1F;
		font-weight: 600;
	}
	.fontweight5{
		font-size: 16px;
		color: #1B1D1F;
		font-weight: 500;
	}
	.fontweight4{
		font-size: 16px;
		color: #1B1D1F;
		font-weight: 400;
	}
	.fontweight3{
		font-size: 16px;
		color: #1B1D1F;
		font-weight: 300;
	}
	.fontweight2{
		font-size: 16px;
		color: #1B1D1F;
		font-weight: 200;
	}
	.fontweight1{
		font-size: 16px;
		color: #1B1D1F;
		font-weight: 100;
	}


.card4{
	display: grid;
	justify-items: center;
	align-content: center;
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
}
	.card4:hover{
		box-shadow:var(--hovershadow);
	}

.card5{
	display: grid;
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
}
	.card5:hover{
		box-shadow:var(--hovershadow);
	}

	.card5img{
	width: 100%;
	background-image: url(R/light.svg);
  	background-repeat: no-repeat;
  	background-position: center;
	}



.card7{
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
	display:flex ;
	justify-content: center;
	align-items: center;
}

	.card7text{
		background: linear-gradient(90deg, #3023AE 0%, #53A0FD 48%, #B4EC51 100%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		font-size: 14px;
		text-shadow: 0 2px 6px rgba(0,198,255,0.55);
	}

	.card7:hover{
	box-shadow:var(--hovershadow);
	}

.card8{
	display: flex;
	grid-gap: 2px;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);

}
	.srgb{
		background: #F2F5F7;
		border: 1px solid #F8FCFF;
		box-shadow: inset 0 0 5px 0 #DAE4EA;
		border-radius: 11px 2px 2px 11px;
		font-size: 12px;
		color: #5C6B74;
		text-shadow: 0 2px 3px #BDC4C8;
		width: 70px;
		height: 22px;
		line-height: 22px;
	}
	.p3{
		background: #F2F5F7;
		border: 1px solid #F8FCFF;
		box-shadow: inset 0 0 5px 0 #DAE4EA;
		border-radius: 2px;
		font-size: 12px;
		color: #5C6B74;
		text-shadow: 0 2px 3px #BDC4C8;
		width: 70px;
		height: 22px;
		line-height: 22px;
	}
	.rec2020{
		background: #F2F5F7;
		border: 1px solid #F8FCFF;
		box-shadow: inset 0 0 5px 0 #DAE4EA;
		border-radius: 2px 11px 11px 2px;
		font-size: 12px;
		color: #5C6B74;
		text-shadow: 0 2px 3px #BDC4C8;
		width: 70px;
		height: 22px;
		line-height: 22px;
	}

	.card8:hover{
		box-shadow:var(--hovershadow);
	}

.card6{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
}
	.card6:hover{
		box-shadow:var(--hovershadow);
	}

	.left{
		width: 50px;
		height: 100px;
		border-radius: 50px 0 0 50px;
		background:rgba(0, 255, 10, 1);
	}
	.right{
		width: 50px;
		height: 100px;
		border-radius: 0 50px 50px 0;
		background: #DFE3EB;
		background: color(display-p3 0 1 0.039);
	}
	.cicle{
		width: 70px;
		height: 70px;
		border-radius: 35px;
		background: rgba(255, 255, 255, 1.0);
		z-index: 1;
		position: absolute;
	}

.card9{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
}
	.gtest{
		height: 100px;
		width: auto;
	}
	
	.card9:hover{
		box-shadow:var(--hovershadow);
	}

.cardnone{
	background: none;
	border-radius: var(--cardR);
	border: 1px solid #878E9A;
	border-style:dashed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
	.cardlink{
		text-decoration: none;
		padding: 5px;
		color: #878E9A;
		font-size: 14px;
	}
	.cardlink:hover{
		color: var(--textlinkhover);
	}

.cardclip{
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
	position: relative;
}
	.clipath{
		width: 100%;
	    height: 100%;
		background-image: radial-gradient(circle at 1e+02% 50%, #D8E4F8 0%, #FFFFFF 65%);
	    clip-path: polygon(10% 5%, 44% 5%, 80% 50%, 44% 95%, 10% 95%);
	}
	.ns-c-img{
		z-index: 1;
		position: absolute;
		left: 120px;
		top: 170px;
		transform: scale(1.2);
	}
	.cardclip:hover{
		box-shadow:var(--hovershadow);
	}

.logoarea{
	position: relative;
	display: contents;
}

.svgbg{
	z-index: 0;
	width: 100%;

}
.svgtextlogo{
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 1;
}


.toolscount{
	font-size: 14px;
	color: #FFFFFF;
	bottom: 20px;
	left: 20px;
	position: absolute;
}
.card4box{
	position: relative;
	transform: translate(-25%,-25%);
}
	.back{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100px;
		height: 100px;
		background-image: linear-gradient(270deg, #D1D5DF 0%, #A5AABB 100%);
		border-radius: 50px;
	}
	.glass{
		width: 100px;
		height: 100px;
		border-radius: 10px;
		background: rgba(63,104,195,0.04);
		border: 1px solid rgba(216,219,229,0.19);
		backdrop-filter: saturate(180%) blur(20px);
	  	-webkit-backdrop-filter: saturate(180%) blur(20px);
	}



@media (color-gamut: srgb) {
	.srgb{
		background: #D7EFFF;
		border: 1px solid #BAE3FF;
		box-shadow: inset 0 0 5px 0 #9DD2F6;
		color: #1C3250;
	}
	
}

@media (color-gamut: p3) {
	.p3{
		background: #D7EFFF;
		border: 1px solid #BAE3FF;
		box-shadow: inset 0 0 5px 0 #9DD2F6;
		color: #1C3250;
	}
	
}

@media (color-gamut: rec2020) {
	.rec2020{
		background: #D7EFFF;
		border: 1px solid #BAE3FF;
		box-shadow: inset 0 0 5px 0 #9DD2F6;
		color: #1C3250;
	}
	
}


@media (prefers-color-scheme: dark){
	.card5{
		background: #22252B;
		border: var(--cardborder-Dark);
		box-shadow: var(--cardboxshadow-Dark);
	}

	.card5img{
		background-image: url(R/dark.svg);
	}

}
