:root
{
	accent-color: #00A7FF;
	/*亮色，默认，鼠标悬浮在卡片上的样式*/
	--hovershadow2: none;
	/*默认，卡片圆角*/
	--cardR: 16px;
	/*默认，卡片描边*/
	--cardborder: 1px solid rgba(188, 196, 223, 0.50);
	/*默认，卡片内阴影*/
	--cardboxshadow: inset 0 0 20px 0 #E2EAFA;
	/*------------------------------------------------------*/
	/*暗色，卡片描边*/
	--cardborder-Dark: 1px solid rgba(103, 109, 128, 0.50);
	/*暗色，卡片内阴影*/
	--cardboxshadow-Dark: inset 0 0 20px 0 #61656E;
	/*------------------------------------------------------*/
	/*C2与C3卡片的文字常规文字颜色*/
	--card2a3textcolor: #1B1D1F;
	/*鼠标悬浮在卡片上底部出现的提示文字的颜色*/
	--hintextcolor: #c3cad6;
	/*卡片基础动画*/
	--cardmainani: all 800ms;
	/*-----------------------------------------------*/
	/*底部出现的提示性代码字体*/
	--codefont: SF Mono,SFMono-Regular,ui-monospace,Menlo,Consolas,monospace;
	/*使用SansForgetica字体*/
	--SFRFontFamily: sfr, system-ui;
}
/*========================================================================================================================================*/
body {
	font-size: 16px;
	background: #DFE3EB;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

.cardwarp{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*========================================================================================================================================*/
/*卡片基础设置*/
.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	grid-auto-rows: minmax(360px, auto);
	grid-gap: 0.625em;
	animation-name: websitemainanimation;
	animation-duration: 1000ms;
}
/*========================================================================================================================================*/
/*Website Main Theme*/
.card1-logo 
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.c1bg
{
	position: relative;
	width: 100%;
	height: 100%;
}
/*---------------------------------*/
.cardlogosfr
{
	z-index: 2;
	font-size: 30px;
	color: #FFFFFF;
	position: absolute;
	font-family: var(--SFRFontFamily);
	animation-name: card1sfrmaintitle_back;
	animation-duration: 300ms;
	animation-timing-function: ease-in-out;
}

.cardlogotext
{
	opacity: 0;
	z-index: 3;
	font-weight: 800;
	font-size: 30px;
	width: 100%;
	position: absolute;
	color: #FFFFFF;
	text-align: center;
	animation: card1textmaintitle_back 250ms;
	animation-timing-function: ease-in-out;
}
/*------------------------------------*/
.card1-logo:hover .cardlogosfr {
	animation: card1sfrmaintitle 250ms forwards;
	animation-timing-function: ease-in-out;
}

.card1-logo:hover .cardlogotext {
	animation: card1textmaintitle 350ms forwards;
	animation-delay: 200ms;
	animation-timing-function: ease-in-out;
}
/*--------------------------*/
@keyframes card1sfrmaintitle
{
	0%{
		opacity: 0.95;
		transform: scale3d(1.0, 1.0, 1.0);
	}
	100%{
		opacity: 0;
		transform: scale3d(0.9, 0.2, 0);
	}
}

@keyframes card1sfrmaintitle_back
{
	from{
		opacity: 0;
		transform: scale3d(0.9, 0.7, 0.9);
	}
	to{
		opacity: 0.95;
		transform: scale3d(1.0, 1.0, 1.0);
	}
}
/*---------------------------------*/
@keyframes card1textmaintitle
{
	from{
		opacity: 0;
		transform: scale3d(1.0, 0.2, 0.5);
	}
	to{
		opacity: 0.95;
		transform: scale3d(1.0, 1.0, 1.0);
	}
}
@keyframes card1textmaintitle_back
{
	from{
		opacity: 0.95;
		transform: scale3d(1.0, 1.0, 1.0);
	}
	to{
		opacity: 0;
		transform: scale3d(1.0, 0, 1.0);
	}
}
/*---------------------------------*/
.cover {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: var(--cardR);
	backdrop-filter: saturate(100%) blur(80px);
	-webkit-backdrop-filter: saturate(100%) blur(80px);
}

.flash {
	z-index: 1;
	transition: all 550ms;
	width: 90%;
	height: 90%;
	border-radius: var(--cardR);
	clip-path: polygon(0 0, 0% 100%, 100% 0);
	background-image: linear-gradient(182deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 75%);
	opacity: 0;
	filter: blur(50px);
}

.card1-logo:hover .c1bg > .flash
{
	width: 100%;
	height: 100%;
	opacity: 0.2;
	filter: blur(0px);
}

.pt1,
.pt2,
.pt3,
.pt4 {
	/*filter: grayscale(100%);*/
	position: absolute;
	width: 50%;
	height: 50%;
}

.pt1 {
	background: #00A7FF;
	background: color(display-p3 0 0.394 1);
	border-radius: 20px 0px 0px 0px;
}

.pt2 {
	background: #3d3aff;
	background: color(display-p3 0.383 0 1);
	border-radius: 0px 20px 0px 0px;
	right: 0;
}

.pt3 {
	background: #00c732;
	background: color(display-p3 0.074 0.92 0.223);
	border-radius: 0px 0px 0px 20px;
	left: 0;
	bottom: 0;
}

.pt4 {
	background: #00fff7;
	background: color(display-p3 0.053 0.955 0.829);
	border-radius: 0px 0px 20px 0px;
	right: 0;
	bottom: 0;
}

.card1-logo p {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.67);
	position: absolute;
	bottom: 20px;
}
/*========================================================================================================================================*/
/*.hidden{
	border-radius: var(--cardR);
	background-image: conic-gradient(
    from 1.5708rad at 50% 50%,
    #00acd2 12%,
    #0feac2 12%,
    #009db6 25%,
    #00ff8f 25%,
    #59e303 38%,
    #009e40 38%,
    #31d200 50%,
    #007aff 50%,
    #0019ff 63%,
    #004dff 63%,
    #007aff 75%,
    #5856d6 75%,
    #7b00ff 87%,
    #3105fd 87%,
    #5856d6 100%,
    #63e6e2 100%
  );
}*/
/*=================================================*/
/*小字号测试*/
.card2-fontsize {
	display: flex;
	flex-direction: column;
	grid-gap: 10px;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
	transition: var(--cardmainani);
	position: relative;
}

.card2-fontsize:hover {
	box-shadow: var(--hovershadow2);
}

.card2warp,
.card2warp-pt2,
.card2warp-pt3
{
	display: flex;
	grid-gap: 10px;
	align-items: flex-end;
}

.l12x8,
.l12x10
{
	font-size: 12px;
	display: block;
	color: var(--card2a3textcolor);
}

.zhongwen {
	text-align: right;
}
.yingwen{
	text-align: left;
}

.zhongwen > .l12x8,
.yingwen > .l12x8
{
	line-height: 11px;
}

.zhongwen > .l12x10,
.yingwen > .l12x10
{
	line-height: 14px;
}

.zhongwen > .l12x8{

	transform: scale(0.667) translateX(19%) translateY(20%);
}

.zhongwen > .l12x10{

	transform: scale(0.833) translateX(5%) translateY(7%);
}

.yingwen > .l12x8{

	transform: scale(0.667) translateX(-28%) translateY(15%);
}

.yingwen > .l12x10{

	transform: scale(0.833) translateX(-13%) translateY(10%);
}

.lorem12,
.lorem10,
.lorem8,
.l12x10,
.l12x8
{
	transition: all 200ms;
}

.lorem12,
.lorem10 {

	color: var(--card2a3textcolor);
}

.lorem12 {
	font-size: 12px;
}

.lorem10 {
	font-size: 10px;
}

.lorem8 {
	font-size: 8px;
	color: #00A7FF;
	color: color(display-p3 0 0.394 1);
}

.lorem12:hover,
.lorem10:hover,
.lorem8:hover
{
	font-size: 20px;
}

.zhongwen .lorem12:hover:after,
.yingwen .lorem12:hover:after  
{
	content: "font-size: 12px;";
}

.zhongwen .lorem10:hover:after,
.yingwen .lorem10:hover:after
{
	content: "font-size: 10px;";
}

.zhongwen .lorem8:hover:after,
.yingwen .lorem8:hover:after
{
	content: "font-size: 8px;";
}

.l12x8:hover,
.l12x10:hover{

	transform: scale(1.0);
}

.zhongwen .lorem12:hover:after,
.yingwen .lorem12:hover:after,
.zhongwen .lorem10:hover:after,
.yingwen .lorem10:hover:after,
.zhongwen .lorem8:hover:after,
.yingwen .lorem8:hover:after
{
	font-family: var(--codefont);
	width: 100%;
	bottom: 20px;
	left: 0;
	position: absolute;
	color: var(--hintextcolor);
	text-align: center;	
	font-size: 12px;
}

/*========================================================================================================================================*/
/*字重测试*/
.card3-fontweight {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
	transition: var(--cardmainani);
}

.card3-fontweight:hover {
	box-shadow: var(--hovershadow2);
}

.cardTwarp {
	display: flex;
	align-items: flex-end;
	grid-gap: 10px;
}

.textgroupleft,
.textgroupright {
	display: grid;
	grid-gap: 10px;
}

.textgroupleft {
	text-align: right;
}

.textgroupright {
	text-align: left;
}

.fontweightbold,
.fontweight9,
.fontweight8,
.fontweight7,
.fontweight6,
.fontweight5,
.fontweight3,
.fontweight2,
.fontweight1 {
	color: var(--card2a3textcolor);
}

.fontweightbold,
.fontweight9,
.fontweight8,
.fontweight7,
.fontweight6,
.fontweight5,
.fontweight4,
.fontweight3,
.fontweight2,
.fontweight1 {
	transition: all 0.2s;
	line-height: initial;
	font-size: 12px;
}

.fontweightbold {
	font-weight: bold;
}

.fontweight9 {
	font-weight: 900;
}

.fontweight8 {
	font-weight: 800;
}

.fontweight7 {
	font-weight: 700;
}

.fontweight6 {
	font-weight: 600;
}

.fontweight5 {
	font-weight: 500;
}

.fontweight4 {
	color: #00A7FF;
	color: color(display-p3 0 0.394 1);
	font-weight: 400;
}

.fontweight3 {
	font-weight: 300;
}

.fontweight2 {
	font-weight: 200;
}

.fontweight1 {
	font-weight: 100;
}

.fontweightbold:hover,
.fontweight9:hover,
.fontweight8:hover,
.fontweight7:hover,
.fontweight6:hover,
.fontweight5:hover,
.fontweight4:hover,
.fontweight3:hover,
.fontweight2:hover,
.fontweight1:hover {
	font-size: 20px;
}

.fontweightbold:hover:after,
.fontweight9:hover:after,
.fontweight8:hover:after,
.fontweight7:hover:after,
.fontweight6:hover:after,
.fontweight5:hover:after,
.fontweight4:hover:after,
.fontweight3:hover:after,
.fontweight2:hover:after,
.fontweight1:hover:after {
	width: 100%;
	bottom: 20px;
	left: 0;
	position: absolute;
	color: var(--hintextcolor);
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	font-family: var(--codefont);
}

.fontweightbold:hover:after {
	content: "font-weight: Bold;";
}

.fontweight9:hover:after {
	content: "font-weight: 900;";
}

.fontweight8:hover:after {
	content: "font-weight: 800;";
}

.fontweight7:hover:after {
	content: "font-weight: 700;";
}

.fontweight6:hover:after {
	content: "font-weight: 600;";
}

.fontweight5:hover:after {
	content: "font-weight: 500;";
}

.fontweight4:hover:after {
	content: "font-weight: 400;";
}

.fontweight3:hover:after {
	content: "font-weight: 300;";
}

.fontweight2:hover:after {
	content: "font-weight: 200;";
}

.fontweight1:hover:after {
	content: "font-weight: 100;";
}
/*========================================================================================================================================*/
/*测试浏览器是否支持背景高斯模糊效果。*/
.card4-blur{
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
	transition: var(--cardmainani);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.card4-blur:hover {
	box-shadow: var(--hovershadow2);
}

.card4text{
	z-index: 1;
	font-size: 20px;
	color: #1B1D1F;
	text-align: center;
	font-family: var(--SFRFontFamily);
}
.ball{
	position: absolute;
	transition: all 350ms;
	z-index: 2;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	background-image: radial-gradient(circle at 18% 17%, rgba(255,255,255,0.33) 0%, rgba(244,247,255,0.35) 21%, rgba(190,197,212,0.37) 44%, rgba(115,122,136,0.39) 64%, rgba(95,109,140,0.28) 83%, rgba(177,181,197,0.37) 98%);
	box-shadow: 32px 19px 31px 0 rgba(96,101,120,0.32);
	border-radius: 50%;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
}

.ball:hover{
	width: 120px;
	height: 120px;
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
}
/*========================================================================================================================================*/
/*测试操作系统是否支持亮暗色切换。*/
.card5-colorscheme {
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
	/*-------------*/
	display: flex;
	align-items: center;
    justify-content: center;
    align-content: center;
	/*--------*/
	position: relative;
}

.card5-colorscheme:hover {
	box-shadow: var(--hovershadow2);
}
/*----------------------------*/
.card5-colorscheme:hover .theray {
	animation: hoversunspinning 10s infinite linear;
	animation-play-state: running;
}

@keyframes hoversunspinning{
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(360deg);
	}
}

.sun {
	display: flex;
	align-content: center;
    justify-content: center;
    align-items: center;
	/*------*/
	transition: all 1000ms;
	width: 100px;
	height: 100px;
	position: absolute;
	filter: blur(0);
	/*background: gray;*/
}

.core {
	transition: all 1000ms;
	width: 50px;
	height: 50px;
	box-shadow: inset 50px 0 0 0;
	color: #FBC02E;
	color: color(display-p3 1 0.788 0.285);
	border-radius: 50%;
	z-index: 2;
}

.lights1,
.lights2 {
	transition: all 1000ms;
	width: 4px;
	height: 15px;
	background: rgb(255, 215, 110);
	background: color(display-p3 1 0.85 0.495);
	border-radius: 1px;
	box-shadow: 0 0 10px 0 #FFD263;
}

.lights1 {
	margin-bottom: 70px;
}

.ray {
	position: absolute;
}

.ray2 {
	position: absolute;
	transform: rotate(45deg);
}

.ray3 {
	position: absolute;
	transform: rotate(90deg);
}

.ray4 {
	position: absolute;
	transform: rotate(135deg);
}

.theray {
	animation: hoversunspinning 10s infinite linear;
	animation-play-state: paused;
	display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
	position: absolute;
}
/*========================================================================================================================================*/
/*测试浏览器是否支持sRGB、Display P3 或 rec2020 色域，若支持，蓝灯亮起，反则不亮灯。*/
.card7-gamutcheck {
	transition: var(--cardmainani);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
	position: relative;
}

.mediawarp{
	width: 180px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}
/*----------------------------------------*/
.srgb,
.p3,
.rec2020,
.hdr
{
	background: #F2F5F7;
	border: 1px solid #F8FCFF;
	box-shadow: inset 0 0 5px 0 #DAE4EA;
	font-size: 12px;
	color: #5C6B74;
	text-shadow: 0 2px 3px #BDC4C8;
	height: 22px;
	line-height: 22px;
	border-radius: 11px;
}

.srgb,
.rec2020
{
	min-width: 70px;
	/*minwidth如果改成width会导致网页在macOS Safari显示有问题，暂时不知道为什么*/
}

.p3,
.hdr{
	min-width: 90px;
	/*minwidth如果改成width会导致网页在macOS Safari显示有问题，暂时不知道为什么*/
}
/*----------------------------------------*/
.card7-gamutcheck:hover {
	box-shadow: var(--hovershadow2);
}
/*-----------------------------------------*/
.srgb:hover::after,
.p3:hover::after,
.rec2020:hover::after,
.hdr:hover::after
{
	display: block;
	position: absolute;
	/*-----------------*/
	width: 100%;
	bottom: 20px;
	left: 0;
	/*---------------*/
	font-family: var(--codefont);
	color: var(--hintextcolor);
	text-align: center;	
	font-size: 12px;
	text-shadow: none;
}
/*-----------------------------------------*/
.card7-gamutcheck .srgb:hover::after
{
	content: "@media\00a0(color⎼gamut:\00a0srgb) ";
}
/*-----------------------------------------*/
.card7-gamutcheck .p3:hover::after
{
	content: "@media\00a0(color⎼gamut:\00a0p3) ";
}
/*-----------------------------------------*/
.card7-gamutcheck .rec2020:hover::after
{
	content: "@media\00a0(color⎼gamut:\00a0rec2020) ";
}
.card7-gamutcheck .hdr:hover::after
{
	content: "@media\00a0(dynamic-range:\00a0high) ";
}
/*========================================================================================================================================*/
/*测试设备是否支持 Display P3 色域的代码显示。*/
.card6-colorgamut {
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
	transition: var(--cardmainani);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 12px;
}
/*------------------------------------------------*/
.card6-colorgamut:hover {
	box-shadow: var(--hovershadow2);
}
/*------------------------------------------------*/
.purple,.blue,.yellow,.red,.green{
	display: flex;
}
/*------------------------------------------------*/
.purplesrgb,.bluesrgb,.yellowsrgb,.redsrgb{
	transition: all 200ms;
	width: 8px;
	height: 16px;
	border-radius: 8px 0 0 8px;
}
.purplep3,.bluep3,.yellowp3,.redp3{
	transition: all 200ms;
	transform: scaleX(-1);
	width: 8px;
	height: 16px;
	border-radius: 8px 0 0 8px;
}
/*------------------------------------------------*/
.greensrgb,.greenp3{
	transition: all 250ms;
	width: 34px;
	height: 24px;
	border-radius: 12px 0 0 12px;
}
.greenp3{
	transform: scaleX(-1);
}
/*------------------------------------------------*/
/*sRGB颜色*/
.purplesrgb{
	background: #2D00FF;
}
.bluesrgb{
	background: #00BAFF;
}
.greensrgb{
	background: #00FF05;
}
.yellowsrgb{
	background: #FFBB00;
}
.redsrgb{
	background: #FF0021;
}
/*------------------------------------------------*/
/*DisplayP3颜色*/
.purplep3{
	background: #2D00FF;
	background: color(display-p3 0.153 0 1);
}
.bluep3{
	background: #00BAFF;
	background: color(display-p3 0 0.602 1);
}
.greenp3{
	background: #D1FFD2;
	background: color(display-p3 0.23 1 0);
}
.yellowp3{
	background: #FFBB00;
	background: color(display-p3 1 0.694 0);
}
.redp3{
	background: #FF0021;
	background: color(display-p3 1 0.011 0);
}
/*------------------------------------------------*/
.purple:hover .purplesrgb{
	width: 34px;
	height: 24px;
	border-radius: 12px 0 0 12px;
}
.purple:hover .purplep3{
	background: #DDD6FF;
	background: color(display-p3 0.153 0 1);
	width: 34px;
	height: 24px;
	border-radius: 12px 0 0 12px;
}
.purple:hover ~ .green > .greensrgb {
	width: 8px;
	height: 16px;
	border-radius: 8px 0 0 8px;
}
.purple:hover ~ .green > .greenp3 {
	width: 8px;
	height: 16px;
	border-radius: 8px 0 0 8px;
	background: #00FF05;
}
/*------------------------------------------------*/
.blue:hover .bluesrgb{
	width: 34px;
	height: 24px;
	border-radius: 12px 0 0 12px;
}
.blue:hover .bluep3{
	background: #CDF1FF;
	background: color(display-p3 0 0.602 1);
	width: 34px;
	height: 24px;
	border-radius: 12px 0 0 12px;
}
.blue:hover ~ .green > .greensrgb {
	width: 8px;
	height: 16px;
	border-radius: 8px 0 0 8px;
}
.blue:hover ~ .green > .greenp3 {
	width: 8px;
	height: 16px;
	border-radius: 8px 0 0 8px;
	background: #00FF05;
}
/*------------------------------------------------*/
.yellow:hover .yellowsrgb{
	width: 34px;
	height: 24px;
	border-radius: 12px 0 0 12px;
}
.yellow:hover .yellowp3{
	background: #FFF0C9;
	background: color(display-p3 1 0.694 0);
	width: 34px;
	height: 24px;
	border-radius: 12px 0 0 12px;
}
.yellow:hover ~ .green > .greensrgb {
	width: 8px;
	height: 16px;
	border-radius: 8px 0 0 8px;
}
.yellow:hover ~ .green > .greenp3 {
	width: 8px;
	height: 16px;
	border-radius: 8px 0 0 8px;
	background: #00FF05;
}
/*------------------------------------------------*/
.red:hover .redsrgb{
	width: 34px;
	height: 24px;
	border-radius: 12px 0 0 12px;
}
.red:hover .redp3{
	background: #FFD1D7;
	background: color(display-p3 1 0.011 0);
	width: 34px;
	height: 24px;
	border-radius: 12px 0 0 12px;
}
.red:hover ~ .green > .greensrgb {
	width: 8px;
	height: 16px;
	border-radius: 8px 0 0 8px;
}
.red:hover ~ .green > .greenp3 {
	width: 8px;
	height: 16px;
	border-radius: 8px 0 0 8px;
	background: #00FF05;
}
/*===================================================*/
/*以图片格式测试浏览器对 Display P3 与sRGB 色域的兼容性*/
.card8-picompare {
	transition: var(--cardmainani);
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
}

.gtest-l,
.gtest-r {
	transition: all 300ms;
	height: 100px;
	width: auto;
	z-index: 1;
}

.names {
	transition: all 100ms;
	display: flex;
	position: absolute;
	color: #1B1D1F;
	line-height: initial;
	height: 130px;
	align-items: center;
	opacity: 0;
	transform: scale(0);
}

.nameleft {
	align-self: flex-start;
	font-size: 12px;
	transform: translateX(10px);
}

.nameright {
	align-self: flex-end;
	font-size: 12px;
	transform: translateX(18px);
}

.card8-picompare:hover .nameleft {
	align-self: flex-start;
}

.card8-picompare:hover .nameright {
	align-self: flex-end;
}

.card8-picompare:hover .names {
	opacity: 1;
	transform: scale(1);
}

.card8-picompare:hover .gtest-l {
	transform: translateY(20px);
}

.card8-picompare:hover .gtest-r {
	transform: translateY(-20px);
}

.card8-picompare:hover {
	box-shadow: var(--hovershadow2);
}
/*========================================================================================================================================*/
/*字面意思。*/

.cardlink {
	text-decoration: none;
	padding: 10px;
	color: #878E9A;
	font-size: 12px;
}

.cardlink:hover {
	color: #5f646d;
}

.card10-nextstep {
	/*卡片样式*/
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
	transition: var(--cardmainani);
	/*组内对齐*/
	display: grid;
	align-content: center;
	/*组内定位*/
	position: relative;
}

.bubble {
	/*基础样式*/
	width: 190px;
	height: 190px;
	border-radius: 50%;
	background-image: radial-gradient(circle at 50% 50%, #FFFFFF 0%, #F6FCFF 35%, #EBF5FF 50%);
	/*background-image: radial-gradient(circle at 50% 50%, #FFFFFF 0%, #FFFFFF 26%, #EBF5FF 50%);*/
	border: 1px solid #F3F4FD;
	filter: blur(12px);
	/*组内定位*/
	z-index: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.nextstep-warp {
	/*组内定位*/
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;

}

.ns-text{
	/*next-step*/
	transition: all 300ms;
	font-size: 20px;
	font-family: var(--SFRFontFamily);
	/*这两行代码是为了保证文字完整显示而不被bg-clip属性切割*/
	width: 100%;
	text-align: center;
	/*---------------------------*/
	/*文字的渐变效果*/
	background-image: radial-gradient(circle at 50% 50%, #95B5E4 0%, #D2E2F9 30%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	/*--------------------------------*/
}

.solgan {
	/*what will your verse be?*/
	width: 100%;
	text-align: center;
	font-size: 12px;
	background-image: radial-gradient(circle at 50% 50%, #7991CF 0%, #FFFFFF 60%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	opacity: 0;
}
/*圆环动画*/
.card10-nextstep:hover .bubble {
	animation: showbubble 500ms forwards;
}

@keyframes showbubble {
	from {
		width: 190px;
		height: 190px;
		filter: blur(12px);
	}

	to {
		width: 250px;
		height: 250px;
		filter: none;
	}
}

/*圆环回退动画*/
.card10-nextstep .bubble {
	animation: r-showbubble 500ms forwards;
}

@keyframes r-showbubble {
	from {
		width: 250px;
		height: 250px;
		filter: none;
	}

	to {
		width: 190px;
		height: 190px;
		filter: blur(12px);
	}
}

/*主文字动画*/
.card10-nextstep:hover .ns-text {
	font-size: 30px;
}

/*slogan动画*/
.card10-nextstep:hover .solgan {
	animation: showtext forwards;
	animation-duration: 1000ms;
	animation-delay: 150ms;
}

@keyframes showtext{
	from{
		filter: blur(5px);
		opacity: 0;
		transform: scale(0.9);
	}
	to{
		filter: blur(0);
		opacity: 1;
		transform: scale(1);
	}
}
.card10-nextstep .solgan{
	animation: hidetext 800ms forwards;
}
@keyframes hidetext{
	from{
		filter: blur(0);
		opacity: 1;
		transform: scale(1.0);
	}
	to{
		filter: blur(5px);
		opacity: 0;
		transform: scale(0.8);
	}
}
/*----------------------------------------------*/
/*卡片本体鼠标悬浮效果*/
.card10-nextstep:hover {
	box-shadow: var(--hovershadow2);
}
/*========================================================================================================================================*/
.card9-deviceinfo {
	/*卡片样式*/
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
	/*组内定位*/
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 4px;
	/*动画*/
	transition: var(--cardmainani);
}

.card9-deviceinfo:hover {
	box-shadow: var(--hovershadow2);
}

.siteinfocardwarp {
	display: flex;
	flex-direction: column;
	grid-gap: 10px;
}

.infogroup {
	color: #878E9A;
	font-size: 12px;
	display: flex;
	grid-gap: 6px;
}

/*图标区*/

/*基础设置*/
.screenpoint,
.scale,
.screenpixel,
.windowpoint,
.aspect,
.colorDepth {
	transition: all 100ms;
	position: relative;
	width: 14px;
	height: 14px;
	background: transparent;
}

#screenpoint::after,
#scale::after,
#screenpixel::after,
#windowpoint::after,
#aspect::after,
#colorDepth::after {
	transition: all 100ms;
	width: 100%;
	bottom: 20px;
	left: 0;
	position: absolute;
	color: var(--hintextcolor);
	font-size: 12px;
	font-weight: 400;
	text-align: center;
}

#screenpoint:hover:after {
	content: "Device Resolution · 设备逻辑分辨率";
	opacity: 0;
}

#scale:hover:after {
	content: "Pixel Ratio · 缩放倍率";
	opacity: 0;
}

#screenpixel:hover:after {
	content: "Rendered at · 渲染分辨率";
	opacity: 0;
}

#windowpoint:hover:after {
	content: "Window Resolution · 窗口逻辑分辨率";
	opacity: 0;
}

#aspect:hover:after {
	content: "Aspect Ratio · 屏幕比例";
	opacity: 0;
}

#colorDepth:hover:after {
	content: "Browser Color Depth · 浏览器色深";
	opacity: 0;
}

#screenpoint:hover:after,
#scale:hover:after,
#screenpixel:hover:after,
#windowpoint:hover:after,
#aspect:hover:after,
#colorDepth:hover:after {
	opacity: 1.0;
}


/*=========================================================
	用代码画icon
	=========================================================*/

/*逻辑分辨率图标*/

.top {
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 1px;
	top: 0;
	right: 0;
	background: #0039FF;
	background: color(display-p3 0 0.156 1);
}

.top::after {
	content: "";
	position: absolute;
	border-radius: 1px;
	width: 7px;
	height: 7px;
	bottom: -7px;
	left: -7px;
	background: #00A7FF;
}

/*缩放倍率图标*/

.arrowhead,
.arrowline {
	position: absolute;
}

.arrowhead {
	top: 0;
	right: 0;
	z-index: 1;
	width: 16px;
	height: 16px;
	clip-path: polygon(100% 0, 88% 74%, 68% 37%, 26% 16%);
	background: #0039FF;
	background: color(display-p3 0 0.156 1);
}

.arrowline {
	bottom: 0;
	left: 0;
	width: 14px;
	height: 14px;
	clip-path: polygon(59% 12%, 0% 100%, 90% 44%);
	background: #00A7FF;
}

/*渲染分辨率图标*/
.topsmall,
.bottomsmall {
	position: absolute;
	opacity: 0.3;
	width: 5px;
	height: 5px;
	border-radius: 1px;
}

.topsmall {
	top: 0px;
	left: 0px;
	background: #0039FF;
	background: color(display-p3 0 0.156 1);
}

.bottomsmall {
	bottom: 0px;
	right: 0px;
	background: #00A7FF;
}

/*窗口分辨率图标*/
.topline,
.bottomline,
.upcover {
	position: absolute;
}

.topline,
.bottomline {
	width: 7px;
	height: 7px;
}

.topline {
	right: 0;
	top: 0;
	background: #0039FF;
	background: color(display-p3 0 0.156 1);
	border-radius: 0 2px 0 0;
}

.bottomline {
	bottom: 0;
	left: 0;
	background: #00A7FF;
	border-radius: 0 0 0 2px;
}

.upcover {
	z-index: 1;
	width: 10px;
	height: 10px;
	border-radius: 0.5px;
	background: white;
	left: 2px;
	top: 2px;
}

/*窗口比例图标*/
.longline {
	position: absolute;
	height: 2px;
	width: 16.5px;
	background: #0039FF;
	background: color(display-p3 0 0.156 1);
	transform: rotate(-45deg);
	top: 6px;
	left: -1px;
}

.shortup,
.shortdown {
	position: absolute;
	z-index: 1;
	width: 2px;
	height: 8px;
	background: #00A7FF;
}

.shortup {
	top: 0;
	right: 0;
}

.shortdown {
	left: 0;
	bottom: 0;
}

/*色深图标*/
.secondblock::before {
	content: "";
	position: absolute;
	width: 14px;
	top: -6px;
	height: 4px;
	background: #0039FF;
	background: color(display-p3 0 0.156 1);
	border-radius: 1px;
}

.secondblock {
	background: #00A7FF;
	position: absolute;
	height: 2px;
	bottom: 4px;
	width: 14px;
}

.secondblock::after {
	content: "";
	position: absolute;
	width: 14px;
	background: #00A7FF;
	height: 1px;
	bottom: -3px;
}

/*=========================================================
	用代码画icon
	=========================================================*/

/*========================================================================================================================================*/
.siteinfo {
	padding: 30px;
	animation-name: websitemainanimation;
	animation-duration: 1500ms;
	text-align: center;
	color: #c3cad6;
	font-size: 12px;
}

.mylinks {
	padding-bottom: 10px;
}
/*=================色域、HDR检测的媒介查询=======================================*/
@media (color-gamut: srgb) {
	.srgb {
		background: #D7EFFF;
		border: 1px solid #BAE3FF;
		box-shadow: inset 0 0 5px 0 #9DD2F6;
		color: #1C3250;
		transition: all 150ms;
	}
	.srgb:hover{
		background: #79C8FF;
		border: 1px solid #5AACE3;
		box-shadow: inset 0 0 5px 0 #33A5F2;
		color: white;
		text-shadow: none;
	}
}

@media (color-gamut: p3) {

	.p3 {
		background: #D7EFFF;
		border: 1px solid #BAE3FF;
		box-shadow: inset 0 0 5px 0 #9DD2F6;
		color: #1C3250;
		transition: all 150ms;
	}
	.p3:hover{
		background: #79C8FF;
		border: 1px solid #5AACE3;
		box-shadow: inset 0 0 5px 0 #33A5F2;
		color: white;
		text-shadow: none;
	}
}

@media (color-gamut: rec2020) {
	.rec2020 {
		background: #D7EFFF;
		border: 1px solid #BAE3FF;
		box-shadow: inset 0 0 5px 0 #9DD2F6;
		color: #1C3250;
		transition: all 150ms;
	}
	.rec2020:hover{
		background: #79C8FF;
		border: 1px solid #5AACE3;
		box-shadow: inset 0 0 5px 0 #33A5F2;
		color: white;
		text-shadow: none;
	}
}
@media (dynamic-range: high) {
	.hdr{
		background: #D7EFFF;
		border: 1px solid #BAE3FF;
		box-shadow: inset 0 0 5px 0 #9DD2F6;
		color: #1C3250;
		transition: all 150ms;
	}
	.hdr:hover{
		background: #79C8FF;
		border: 1px solid #5AACE3;
		box-shadow: inset 0 0 5px 0 #33A5F2;
		color: white;
		text-shadow: none;
	}
}
/*======暗色模式配置============================*/
@media (prefers-color-scheme: dark) {
	.card5-colorscheme {
		background: #22252B;
		border: var(--cardborder-Dark);
		box-shadow: var(--cardboxshadow-Dark);
	}

	.core{
		transition: all 1000ms;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		box-shadow: inset 20px -20px 0 0;
		color: #9083F3;
		color: color(display-p3 0.449 0.385 1);
		z-index: 2;
	}

	.lights1,
	.lights2 {
		transition: all 500ms;
		height: 0;
		filter: blur(10px);
	}

	.card5-colorscheme:hover .core {
		box-shadow: inset 40px -20px 0 0;
	}
}
/*========网站加载动画===============*/
@keyframes websitemainanimation {
	0% {
		filter: opacity(0) blur(20px) grayscale(100%);
	}

	100% {
		filter: opacity(100%) blur(0) grayscale(0);
	}
}
/*=======自定义字体==========*/
@font-face{
	font-family: sfr;
	src: url(R/SansForgetica-Regular.otf);
}
