/*---------------------------------------基础设置---------------------------------------*/
:root
{
	/*主题颜色*/
	accent-color: #00A7FF;
	/*亮色，默认，鼠标悬浮在卡片上的样式*/
	--hovershadow2: none;
	/*默认，卡片圆角*/
	--cardR: 16px;
	/*默认，卡片描边*/
	--cardborder: 1px solid rgba(188, 196, 223, 0.50);
	/*默认，卡片内阴影*/
	--cardboxshadow: inset 0 0 20px 0 #E2EAFA;
	/*------------------------------------------------------*/
	/*暗色，卡片描边*/
	--cardborder-Dark: 1px solid rgba(103, 109, 128, 0.50);
	/*暗色，卡片内阴影*/
	--cardboxshadow-Dark: inset 0 0 20px 0 #61656E;
	/*------------------------------------------------------*/
	/*C2与C3卡片的文字常规文字颜色*/
	--card2a3textcolor: #1B1D1F;
	/*鼠标悬浮在卡片上底部出现的提示文字的颜色*/
	--hintextcolor: #c3cad6;
	/*卡片基础动画*/
	--cardmainani: all 800ms;
	/*-----------------------------------------------*/
	/*底部出现的提示性代码字体*/
	--codefont: SF Mono,SFMono-Regular,ui-monospace,Menlo,Consolas,monospace;
	/*使用SansForgetica字体*/
	--SFRFontFamily: sfr, system-ui;
	/*----------------*/
}

body
{
	font-size: 16px;
	margin: 0;
	background: #DFE3EB;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar
{
    display: none;
}

.cardwarp
{
	/*background: black;*/
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cards
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	grid-auto-rows: minmax(360px, auto);
	grid-gap: 0.625em;
	padding: 0.625em;
	animation-name: websitemainanimation;
	animation-duration: 1000ms;
}

.card-fontsize,
.card3-fontweight,
.card4-blur,
.card6-colorgamut,
.card5-bg,
.card7-gamutcheck,
.card8-picompare,
.card-hascheck,
.card9-deviceinfo,
.card10-nextstep,
.card-flexgap,
.card-atlayer,
.card-colormix,
.card-colorcontrast
{
	background: #FFFFFF;
	border-radius: var(--cardR);
	border: var(--cardborder);
	box-shadow: var(--cardboxshadow);
	transition: var(--cardmainani);
}

.card-fontsize:hover,
.card3-fontweight:hover,
.card4-blur:hover,
.card5-colorscheme:hover,
.card5-bg:hover,
.card6-colorgamut:hover,
.card7-gamutcheck:hover,
.card8-picompare:hover,
.card-hascheck:hover,
.card9-deviceinfo:hover,
.card10-nextstep:hover,
.card-flexgap:hover,
.card-atlayer:hover,
.card-colormix:hover,
.card-colorcontrast:hover
{
	box-shadow: var(--hovershadow2);
}

@font-face{
	font-family: sfr;
	src: url(resources/SansForgetica-Regular.otf);
}