@keyframes card1sfrmaintitle
{
	0%{
		opacity: 0.95;
		transform: scale3d(1.0, 1.0, 1.0);
	}
	100%{
		opacity: 0;
		transform: scale3d(0.9, 0.2, 0);
	}
}

@keyframes card1sfrmaintitle_back
{
	0%{
		opacity: 0;
		transform: scale3d(0.9, 0.7, 0.9);
	}

	50%{
		opacity: 0.95;
		transform: scale3d(1.1, 1.1, 1.0);
	}

	100%{
		opacity: 0.95;
		transform: scale3d(1.0, 1.0, 1.0);
	}
}

@keyframes card1textmaintitle
{
	0%{
		opacity: 0;
		filter: blur(10px);
		transform: scale3d(1.0, 0.2, 0.5);
	}

	50%{
		opacity: 0.95;
		filter: blur(0);
		transform:  scale3d(1.0, 1.2, 1.1);
	}
	100%{
		opacity: 0.95;
		filter: blur(0);
		transform: scale3d(1.0, 1.0, 1.0);
	}
}

@keyframes card1textmaintitle_back
{
	from{
		opacity: 0.95;
		filter: blur(0px);
		transform: scale3d(1.0, 1.0, 1.0);
	}
	to{
		opacity: 0;
		filter: blur(10px);
		transform: scale3d(1.0, 0, 1.0);
	}
}

@keyframes card1svg{
	0%{
		opacity: 0;
		transform: scale(1.4) translateY(4px);
		filter: blur(4px);
	}
	
	50%{
		opacity: 0.9;
		transform: scale(1.6) translateY(-1px);
		filter: blur(2px);
	}

	100%{
		opacity: 0.9;
		transform: scale(1.5) translateY(0px);	
		filter: blur(0);
	}

}

@keyframes card1svg_back{
	0%{
		opacity: 0.9;
		transform: scale(1.5) translateY(0px);		
	}
	100%{
		opacity: 0;
		transform: scale(1.2) translateY(4px);		
	}
}

@keyframes hoversunspinning
{
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(360deg);
	}
}

@keyframes showbubble
{
	0% {
		width: 190px;
		height: 190px;
		filter: blur(12px);
	}

	50%{
		width: 260px;
		height: 260px;
		filter: none;
	}

	100% {
		width: 250px;
		height: 250px;
		filter: none;
	}
}

@keyframes r-showbubble
{
	from {
		width: 250px;
		height: 250px;
		filter: none;
	}

	to {
		width: 190px;
		height: 190px;
		filter: blur(12px);
	}
}

@keyframes showtext
{
	from{
		filter: blur(5px);
		opacity: 0;
		transform: scale(0.9);
	}
	to{
		filter: blur(0);
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes hidetext
{
	from{
		filter: blur(0);
		opacity: 1;
		transform: scale(1.0);
	}
	to{
		filter: blur(5px);
		opacity: 0;
		transform: scale(0.8);
	}
}

@keyframes websitemainanimation
{
	0% {
		filter: opacity(0) blur(20px) grayscale(100%);
	}

	100% {
		filter: opacity(100%) blur(0) grayscale(0);
	}
}


@keyframes text-blur{
	0%{
		font-size: 30px;
		transform: rotate(0deg);
		filter: blur(0px);
	}

	50%{
		font-size: 33px;
		transform: rotate(0deg);
		filter: blur(1px);
	}

	100%{
		filter: blur(20px);
		font-size: 12px;
		transform: rotate(10deg);		
	}
}

@keyframes ball-blur{
	0%{
		width: 100px;
		height: 100px;
	}
	50%{
		width: 130px;
		height: 130px;
	}
	100%{
		width: 120px;
		height: 120px;
	}
}

@keyframes text-blur-back{
	0%{
		filter: blur(20px);
		font-size: 12px;
		transform: rotate(10deg);			
	}
	80%{
		font-size: 31px;
		transform: rotate(0deg);
		filter: blur(1px);		
	}
	100%{
		font-size: 30px;
		transform: rotate(0deg);
		filter: blur(0px);		
	}
}

@keyframes ball-blur-back{
	0%{
		width: 120px;
		height: 120px;		
	}
	50%{
		width: 126px;
		height: 126px;		
	}
	100%{
		width: 100px;
		height: 100px;		
	}
}

@keyframes card8-picture-left{
	0%{
		transform: translateY(0);
	}
	40%{
		transform: translateY(-5px);
	}
	80%{
		transform: translateY(30px);
	}
	100%{
		transform: translateY(20px);
	}
}

@keyframes card8-picture-right{
	0%{
		transform: translateY(0);
	}
	40%{
		transform: translateY(5px);
	}
	80%{
		transform: translateY(-30px);
	}
	100%{
		transform: translateY(-20px);
	}
}

@keyframes card8-picture-left-back{
	0%{
		transform: translateY(20px);
	}
	100%{
		transform: translateY(0px);
	}
}

@keyframes card8-picture-right-back{
	0%{
		transform: translateY(-20px);
	}
	100%{
		transform: translateY(0px);
	}
}

@keyframes card8-name{
	0%{
		opacity: 0;
		transform: scale(0);
	}
	50%{
		opacity: 1;
		transform: scale(1.2);
	}
	100%{
		opacity: 1;
		transform: scale(1.0);
	}
}

@keyframes card8-name-back{
	0%{
		opacity: 1;
		transform: scale(1.0);
	}
	100%{
		opacity: 0;
		transform: scale(0);
	}
}







