@keyframes card1sfrmaintitle
{
	0%{
		opacity: 0.95;
		transform: scale3d(1.0, 1.0, 1.0);
	}
	100%{
		opacity: 0;
		transform: scale3d(0.9, 0.2, 0);
	}
}

@keyframes card1sfrmaintitle_back
{
	0%{
		opacity: 0;
		transform: scale3d(0.9, 0.7, 0.9);
	}

	50%{
		opacity: 0.95;
		transform: scale3d(1.1, 1.1, 1.0);
	}

	100%{
		opacity: 0.95;
		transform: scale3d(1.0, 1.0, 1.0);
	}
}

@keyframes card1textmaintitle
{
	0%{
		opacity: 0;
		filter: blur(10px);
		transform: scale3d(1.0, 0.2, 0.5);
	}

	50%{
		opacity: 0.95;
		filter: blur(0);
		transform:  scale3d(1.1, 1.0, 1.1);
	}
	100%{
		opacity: 0.95;
		filter: blur(0);
		transform: scale3d(1.0, 1.0, 1.0);
	}
}

@keyframes card1textmaintitle_back
{
	from{
		opacity: 0.95;
		filter: blur(0px);
		transform: scale3d(1.0, 1.0, 1.0);
	}
	to{
		opacity: 0;
		filter: blur(10px);
		transform: scale3d(1.0, 0, 1.0);
	}
}

@keyframes card1svg{
	0%{
		opacity: 0;
		transform: scale(1.4) translateY(4px);
		filter: blur(4px);
	}
	
	50%{
		opacity: 0.9;
		transform: scale(1.6) translateY(-1px);
		filter: blur(2px);
	}

	100%{
		opacity: 0.9;
		transform: scale(1.5) translateY(0px);	
		filter: blur(0);
	}

}

@keyframes card1svg_back{
	0%{
		opacity: 0.9;
		transform: scale(1.5) translateY(0px);		
	}
	100%{
		opacity: 0;
		transform: scale(1.2) translateY(4px);		
	}
}

@keyframes hoversunspinning
{
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(360deg);
	}
}

@keyframes showbubble
{
	0% {
		width: 190px;
		height: 190px;
		filter: blur(12px);
	}

	50%{
		width: 260px;
		height: 260px;
		filter: none;
	}

	100% {
		width: 250px;
		height: 250px;
		filter: none;
	}
}

@keyframes r-showbubble
{
	from {
		width: 250px;
		height: 250px;
		filter: none;
	}

	to {
		width: 190px;
		height: 190px;
		filter: blur(12px);
	}
}

@keyframes showtext
{
	from{
		filter: blur(5px);
		opacity: 0;
		transform: scale(0.9);
	}
	to{
		filter: blur(0);
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes hidetext
{
	from{
		filter: blur(0);
		opacity: 1;
		transform: scale(1.0);
	}
	to{
		filter: blur(5px);
		opacity: 0;
		transform: scale(0.8);
	}
}

@keyframes websitemainanimation
{
	0% {
		filter: opacity(0) blur(20px) grayscale(100%);
	}

	100% {
		filter: opacity(100%) blur(0) grayscale(0);
	}
}