.card8-picompare {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gtest-l,
.gtest-r {
	transition-timing-function: ease-in-out;
	transition: all 500ms;
	height: 100px;
	width: auto;
	z-index: 1;
}

.gtest-r{
	transition-delay: 150ms;
}

.names {
	transition-timing-function: ease-in-out;
	transition: all 500ms;
	display: flex;
	position: absolute;
	color: #1B1D1F;
	line-height: initial;
	height: 130px;
	align-items: center;
	opacity: 0;
	transform: scale(0);
}

.nameleft {
	align-self: flex-start;
	font-size: 12px;
	transform: translateX(10px);
}

.nameright {
	align-self: flex-end;
	font-size: 12px;
	transform: translateX(18px);
}

.card8-picompare:hover .nameleft {
	align-self: flex-start;
}

.card8-picompare:hover .nameright {
	align-self: flex-end;
}

.card8-picompare:hover .names {
	opacity: 1;
	transform: scale(1);
}

.card8-picompare:hover .gtest-l {
	transform: translateY(20px);
}

.card8-picompare:hover .gtest-r {
	transform: translateY(-20px);
}