@layer first,second;

@layer first{

	.card-atlayer{
		transition: 500ms;
		position: relative;
		display: flex;
		align-content: center;
	    justify-content: center;
	    align-items: center;
	}

	.earth{
		transition: all 1600ms;
		display: flex;
		align-items: center;
		transform: rotate(60deg);
		padding: 0;
		grid-gap: 0;
	}
	.earth .up{
		transition: all 1200ms;
		width: 40px;
		height: 80px;
		background-image: linear-gradient(to right, rgba(0,167,255,0.05), rgba(0,167,255,0.40));
		border-radius: 100px 0 0 100px;
		backdrop-filter: blur(8px);
		-webkit-backdrop-filter: blur(8px);
		transform: translateX(70px);
		z-index: 3;
		padding: 0;
		grid-gap: 0;
	}
	.earth .orbit{
		transition: all 1600ms;
		width: 140px;
		height: 140px;
		transform: rotate3d(2, -3, -3, 96deg);
		transform-style: flat;
		background: rgba(0,167,255,0.30);
		border: 2px solid rgba(255,255,255,0.30);
		border-radius: 100px;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		z-index: 2;
	}

	.earth .down{
		transition: all 1300ms;
		width: 40px;
		height: 80px;
		background-image: linear-gradient(to right, rgba(0,167,255,1.0), rgba(0,167,255,0.85));
		box-shadow: 11px 0 30px 0 #BBCED7;
		border-radius: 0 100px 100px 0;
		transform: translateX(-70px);
		z-index: 1;
		padding: 0;
		grid-gap: 0;
	}	
}

@layer second{
	
	.card-atlayer{
		transition: 500ms;
		position: relative;
		display: flex;
		align-content: center;
	    justify-content: center;
	    align-items: center;
	}

	.earth{
		perspective: 9.5cm;
		transition: all 1600ms;
		display: flex;
		align-items: center;
		transform: rotate(60deg);
		padding: 0;
		grid-gap: 0;
	}

	.earth .up{
		transition: all 1500ms;
		width: 40px;
		height: 80px;
		background-image: linear-gradient(to right, rgba(0,167,255,0.05), rgba(0,167,255,0.40));
		border-radius: 100px 0 0 100px;
		backdrop-filter: blur(8px);
		-webkit-backdrop-filter: blur(8px);
		transform: translateX(77px);
		z-index: 3;
		padding: 0;
		grid-gap: 0;
	}
	.earth .orbit{
		transition: all 1600ms;
		width: 150px;
		height: 150px;
		transform: rotate3d(0, 1, 0, 99deg);
		transform-style: flat;
		background: rgba(0,167,255,0.30);
		border: 2px solid rgba(255,255,255,0.30);
		border-radius: 100px;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		z-index: 2;
	}

	.earth .down{
		transition: all 1500ms;
		width: 40px;
		height: 80px;
		background-image: linear-gradient(to right, rgba(0,167,255,1.0), rgba(0,167,255,0.85));
		box-shadow: 11px 0 30px 0 #BBCED7;
		border-radius: 0 100px 100px 0;
		transform: translateX(-77px);
		z-index: 1;
		padding: 0;
		grid-gap: 0;
	}
/*-----------------------------------*/
	.card-atlayer:hover .orbit{
		transition-delay: 100ms;
		transform: rotate3d(0, 0, 0, 180deg);
		transform-origin: top right;
		backdrop-filter: blur(0px);
		-webkit-backdrop-filter: blur(0px);
	}

	.card-atlayer:hover .up{
		transition-delay: 300ms;
		transform: translateX(10px) scale(0);
		transform-origin: bottom center;
		filter: blur(20px);
		backdrop-filter: blur(0);
		-webkit-backdrop-filter: blur(0);

	}

	.card-atlayer:hover .down{
		transition-delay: 200ms;
		transform: translateX(-10px) scale(0);
		transform-origin: top center;
		filter: blur(30px);
	}

	.card-atlayer:hover .earth{
		transform: rotate(150deg);
	}
}

.card-atlayer{
	transition: 500ms;
	position: relative;
	display: flex;
	align-content: center;
    justify-content: center;
    align-items: center;
}

.card-atlayer p{
	transition: all 1000ms;
	position: absolute;
	z-index: 0;
}

.card-atlayer:hover p{
	transition-delay: 300ms;
	font-size: 50px;
}

.card-atlayer:hover:after{
	content: "@layer";
	display: block;
	position: absolute;
	bottom: 20px;
	color: var(--hintextcolor);
	font-family: var(--codefont);
	font-size: 12px;
	text-align: center;
	width: 100%;
	left: 0;
}

