.card3-fontweight {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardTwarp {
	display: flex;
	align-items: flex-end;
}

.textgroupleft {
	text-align: right;
	margin-right: 10px;
}

.textgroupright {
	text-align: left;
}

.card3-fontweight p
{
	color: var(--card2a3textcolor);
	transition: all 300ms;
	line-height: 4px;
	font-size: 12px;
}
.card3-fontweight p:hover{
	font-size: 20px;
}

.textgroupright p:first-child
{
	font-weight: 900;
}

.textgroupright p:nth-child(2)
{
	font-weight: 800;
}

.textgroupright p:nth-child(3)
{
	font-weight: 700;
}

.textgroupleft p:first-child,
.textgroupright p:nth-child(4)
{
	font-weight: 600;
}

.textgroupleft p:nth-child(2),
.textgroupright p:nth-child(5)
{
	font-weight: 500;
}

.textgroupleft p:nth-child(3),
.textgroupright p:nth-child(6)
{
	color: #00A7FF;
	color: color(display-p3 0 0.394 1);
	font-weight: 400;
}

.textgroupleft p:nth-child(4),
.textgroupright p:nth-child(7)
{
	font-weight: 300;
}

.textgroupleft p:nth-child(5),
.textgroupright p:nth-child(8)
{
	font-weight: 200;
}

.textgroupleft p:nth-child(6),
.textgroupright p:nth-child(9)
{
	font-weight: 100;
	padding-bottom: 10px;
}

.textgroupleft p:nth-child(7),
.textgroupright p:nth-child(10)
{
	font-weight: bolder;
}

.textgroupleft p:nth-child(8),
.textgroupright p:nth-child(11)
{
	font-weight: bold;
}

.textgroupleft p:last-child,
.textgroupright p:last-child
{
	font-weight: lighter;
}

.textgroupleft p:hover::after,
.textgroupright p:hover::after
{
	width: 100%;
	bottom: 20px;
	left: 0;
	position: absolute;
	color: var(--hintextcolor);
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	font-family: var(--codefont);
}

.textgroupright p:first-child:hover:after {
	content: "font-weight: 900;";
}

.textgroupright p:nth-child(2):hover:after {
	content: "font-weight: 800;";
}

.textgroupright p:nth-child(3):hover:after {
	content: "font-weight: 700;";
}

.textgroupleft p:first-child:hover:after,
.textgroupright p:nth-child(4):hover:after {
	content: "font-weight: 600;";
}

.textgroupleft p:nth-child(2):hover:after,
.textgroupright p:nth-child(5):hover:after {
	content: "font-weight: 500;";
}

.textgroupleft p:nth-child(3):hover:after,
.textgroupright p:nth-child(6):hover:after {
	content: "font-weight: 400;";
}

.textgroupleft p:nth-child(4):hover:after,
.textgroupright p:nth-child(7):hover:after {
	content: "font-weight: 300;";
}

.textgroupleft p:nth-child(5):hover:after,
.textgroupright p:nth-child(8):hover:after {
	content: "font-weight: 200;";
}

.textgroupleft p:nth-child(6):hover:after,
.textgroupright p:nth-child(9):hover:after {
	content: "font-weight: 100;";
}

.textgroupleft p:nth-child(7):hover:after,
.textgroupright p:nth-child(10):hover:after
{
	content: "font-weight: bolder;";
}

.textgroupleft p:nth-child(8):hover:after,
.textgroupright p:nth-child(11):hover:after
{
	content: "font-weight: bold;";
}

.textgroupleft p:last-child:hover:after,
.textgroupright p:last-child:hover:after
{
	content: "font-weight: lighter;";
}
