.cardspecial{
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardspecial p{
	line-height: 0;
	color: var(--card2a3textcolor);
}
.cardspecial p:nth-child(2),
.cardspecial p:first-child
{
	font-weight: bold;
	font-size: 20px;
}
.cardspecial p:last-child{
	font-size: 12px;
}