.card-fontsize
{
    position: relative;
	display: flex;
	gap: 10px;
	font-size: 12px;
	align-content: center;
    justify-content: center;
    align-items: center;
}

.left p
{
	text-align: right;
	transition: all 300ms;
}
.right p
{
	text-align: left;
	transition: all 300ms;
}
.left,
.right p
{
	line-height: 4px;
	color: var(--card2a3textcolor);
}
.left p:nth-child(3),
.right p:nth-child(3)
{
	color: #00A7FF;
	color: color(display-p3 0 0.394 1);
}
/*-----*/
.left p:first-child,
.right p:first-child{
	font-size: 12px;
}
.left p:nth-child(2),
.right p:nth-child(2){
	font-size: 10px;
}
.left p:nth-child(3),
.right p:nth-child(3){
	font-size: 8px;
	padding-bottom: 10px;
}
/*------*/
.left p:nth-child(4),
.right p:nth-child(4){
	font-size: 66.7%;
}
.left p:nth-child(5),
.right p:nth-child(5){
	font-size: 83.3%;
	padding-bottom: 10px;
}
/*-----*/
.left p:nth-child(6),
.right p:nth-child(6){
	transform: scale(0.667);
}
.left p:last-child,
.right p:last-child{
	transform: scale(0.833);
}

.right p:nth-child(6),
.right p:last-child
{
	transform-origin: top left;
}
.left p:nth-child(6),
.left p:last-child
{
	transform-origin: top right;
}

/*-------------*/
.left p:first-child:hover,
.right p:first-child:hover,
.left p:nth-child(2):hover,
.right p:nth-child(2):hover,
.left p:nth-child(3):hover,
.right p:nth-child(3):hover
{
	font-size: 20px;
}
.left p:nth-child(4):hover,
.right p:nth-child(4):hover,
.left p:nth-child(5):hover,
.right p:nth-child(5):hover
{
	font-size: 12px;
}

.left p:nth-child(6):hover,
.left p:last-child:hover,
.right p:nth-child(6):hover,
.right p:last-child:hover
{
	transform: scale(1.0);
}
/*-----------*/
.left p:hover:after,
.right p:hover:after
{
	display: block;
	position: absolute;
	bottom: 20px;
	color: var(--hintextcolor);
	font-family: var(--codefont);
	font-size: 12px;
	text-align: center;
	width: 100%;
	left: 0;
}

.left p:first-child:hover:after,
.right p:first-child:hover:after
{
	content: "font-size: 12px;";
}

.left p:nth-child(2):hover:after,
.right p:nth-child(2):hover:after
{
	content: "font-size: 10px;";
}

.left p:nth-child(3):hover:after,
.right p:nth-child(3):hover:after
{
	content: "font-size: 8px;";
}

.left p:nth-child(4):hover:after,
.right p:nth-child(4):hover:after
{
	content: "font-size: 66.7%;";
}

.left p:nth-child(5):hover:after,
.right p:nth-child(5):hover:after
{
	content: "font-size: 83.3%;";
}

/*问题在此⬇️*/
/*.left p:nth-child(6):hover:after,
.right p:nth-child(6):hover:after
{
	content: "transform: scale(0.667);";
}

.left p:last-child:hover:after,
.right p:last-child:hover:after
{
	content: "transform: scale(0.833);";
}*/
