.card8-picompare {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gtest-l,
.gtest-r {
	transition-timing-function: ease-in-out;
	transition: all 500ms;
	height: 100px;
	width: auto;
	z-index: 1;
}

.gtest-l{
	animation: card8-picture-left-back 300ms ease-in-out forwards;
}

.gtest-r{
	animation: card8-picture-right-back 300ms ease-in-out forwards;
}

.card8-picompare:hover .gtest-l{
	animation: card8-picture-left 700ms ease-in-out forwards;
}
.card8-picompare:hover .gtest-r{
	animation: card8-picture-right 700ms ease-in-out forwards;
}

.names {
	display: flex;
	position: absolute;
	color: #1B1D1F;
	line-height: initial;
	height: 130px;
	align-items: center;
	opacity: 0;
	transform: scale(0);
	animation: card8-name-back 300ms ease-in-out forwards;
}

.nameleft {
	align-self: flex-start;
	font-size: 12px;
	transform: translateX(10px);
}

.nameright {
	align-self: flex-end;
	font-size: 12px;
	transform: translateX(18px);
}

.card8-picompare:hover .names {
	animation: card8-name 500ms ease-in-out forwards;
	animation-delay: 500ms;
}
