.card1-logo 
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--cardR);
	transition: all 800ms;
}
.c1bg
{
	position: relative;
	width: 100%;
	height: 100%;
}
/*---------------------------------*/
.cardlogosfr
{
	z-index: 2;
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: #FFFFFF;
	position: absolute;
	font-family: var(--SFRFontFamily);
	animation-name: card1sfrmaintitle_back;
	animation-duration: 650ms;
	animation-timing-function: ease-in-out;
}

.cardlogotext
{
	opacity: 0;
	z-index: 3;
	font-weight: 800;
	font-size: 30px;
	width: 100%;
	position: absolute;
	color: #FFFFFF;
	text-align: center;
	animation: card1textmaintitle_back 250ms;
	animation-timing-function: ease-in-out;
}

.cardlogotext::before,
.cardlogotext::after{
	display: block;
	opacity: 0.8;
	font-weight: initial;
}

.cardlogotext::after{
	/*content: "How well does your browser doing?";*/
	padding-top: 4px;
	font-size: 12px;
}

.cardlogotext::before{
	content: "层叠样式表效果";
	font-size: 20px;
	letter-spacing: 5px;
	transform: translateX(4px);
}

/*------------------------------------*/
.card1-logo:hover .cardlogosfr {
	animation: card1sfrmaintitle 450ms forwards;
	animation-timing-function: ease-out;
}

.card1-logo:hover .cardlogotext {
	animation: card1textmaintitle 650ms forwards;
	animation-delay: 350ms;
	animation-timing-function: ease-out;
}

/*---------------------------------*/
.cover {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: var(--cardR);
	backdrop-filter: saturate(100%) blur(80px);
	-webkit-backdrop-filter: saturate(100%) blur(80px);
}

.flash {
	z-index: 1;
	transition: all 850ms;
	transition-timing-function: ease-in-out;
	width: 90%;
	height: 90%;
	border-radius: var(--cardR);
	clip-path: polygon(0 0, 0% 100%, 100% 0);
	background-image: linear-gradient(182deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 75%);
	opacity: 0;
	filter: blur(50px);
}

.card1-logo:hover .c1bg > .flash
{
	width: 100%;
	height: 100%;
	opacity: 0.2;
	filter: blur(0px);
}

.pt1,
.pt2,
.pt3,
.pt4 {
	position: absolute;
	width: 50%;
	height: 50%;
	transition-timing-function: linear;
	transition-property: background;
	transition-delay: 0;
	transition-duration: 1500ms;
}

.pt1 {
	background: #00A7FF;
	background: color(display-p3 0 0.394 1);
	border-radius: 20px 0px 0px 0px;
}

.pt2 {
	background: #3d3aff;
	background: color(display-p3 0.383 0 1);
	border-radius: 0px 20px 0px 0px;
	right: 0;
}

.pt3 {
	background: #00c732;
	background: color(display-p3 0.074 0.92 0.223);
	border-radius: 0px 0px 0px 20px;
	left: 0;
	bottom: 0;
}

.pt4 {
	background: #00fff7;
	background: color(display-p3 0.053 0.955 0.829);
	border-radius: 0px 0px 20px 0px;
	right: 0;
	bottom: 0;
}

.card1-logo p {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.67);
	position: absolute;
	bottom: 20px;
}

.card1-logo svg > path{
	/* the following d attribute is for Chrome only */
	d: path("M125,0 L125,25 L124.586579,25.0033493 C111.106307,25.2219114 100.219667,36.1099044 100.003283,49.5907056 L100,50 C100,77.3380951 78.0597142,99.5517619 50.8268414,99.9933014 L50,100 C22.3857625,100 0,77.6142375 0,50 C0,22.6619049 21.9402858,0.448238098 49.1731586,0.00669857146 L50,0 L50,25 L49.5865793,25.0033493 C35.9701429,25.224119 25,36.3309524 25,50 C25,63.6690476 35.9701429,74.775881 49.5865793,74.9966507 L50,75 L50.4134207,74.9966507 C63.8936927,74.7780886 74.7803325,63.8900956 74.9967173,50.4092944 L75,50 C75,22.6619049 96.9402858,0.448238098 124.173159,0.00669857146 L125,0 Z");
	fill: white;
	stroke: none;
	fill-rule: nonzero;
	transform: scale(0.2);
}

.card1-logo svg{
	animation: card1svg_back 250ms forwards;
	animation-timing-function: ease-in-out;
	position: absolute;
	width: 25px;
	height: 20px;
	top: 70px;
	opacity: 0;
}

.card1-logo:hover svg{
	animation: card1svg 850ms forwards;
	animation-timing-function: ease-in-out;
}